p{
  font-weight: bold;
}
.bg {
    /* The image used */
    background-image: url("/assets/Images/outlaw.jpg");
  
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position:top;
    background-repeat: repeat;
    background-size:cover;
  }

  /* Image sizing for all the different size images pulled 
  from the API to the carousel */
  .carouselImg{
    object-fit:fill;
    width:800px;
    max-width: 90vw;
    max-height: 75vh;
  }
#animeCarousel{
  width: 800px;
  max-width: 90vw;
  max-height: 75vh;
}